.wy-side-nav-search,
.wy-nav-top {
    background: #0077a7;
}

.wy-nav-content a {
    color: rgb(0, 87, 145)
}

.caption-text {
    color: rgb(255, 0, 221)
}

.wy-nav-content h1 {
    color: rgb(255, 0, 221)
}